{% extends "base.html" %}

{% block content %}
    <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h2>Курс валют на 11.07.2024</h2>
                </div>
            </div>
        </div>

        <div class="container text-center" style="padding-top: 50px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">NumCode</th>
                        <th scope="col">CharCode</th>
                        <th scope="col">Nominal</th>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>

                <tbody>
                    {% for value in currency.values() %}
                        <tr>
                            <th scope="row">{{ value["NumCode"] }}</th>
                            <td>{{ value["CharCode"] }}</td>
                            <td>{{ value["Nominal"] }}</td>
                            <td>{{ value["Name"] }}</td>
                            <td>{{ value["Value"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>



<script>
    document.getElementById("input-form").addEventListener('submit', function(event) {

        const day = document.getElementById("day").value;
        const month = document.getElementById("month").value;
        const year = document.getElementById("year").value;
        
        console.log(day, month, year);

        fetch("/submit", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "day": day, "month": month, "year": year })
        })
        .then(response => response.text)
        .then(data => {
            document.getElementById('response').innerText = data;
        })

    })

</script>

{% endblock %}